:root {
  background-color: #0d1117;
  color: #e6edf3;
  font-size: 16px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary-link,
.primary-link:visited,
.secondary-link:hover {
  color: #6ca9f9;
}

.secondary-link {
  color: #a1a6af;
  font-size: 0.8rem;
}
